body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: lightgray;
  font-weight: bold;
}

.nav-list {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row;
  align-content: center;
}

.aside-left {
  margin: 35px 20px 40px 40px;
  width: 200px;
}

.about {
  padding: 20px;
  background-color: gainsboro;
}

.archives {
  padding: 20px;
}

.main {
  margin: 20px 10px 0 10px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 850px;
  padding: 5px;
  width: 60%;
  counter-reset: items;
}

.article-img {
  width: 398px;
  height: 150px;
  margin: -20px -20px 10px -20px;
}

.article {
  width: 48%;
  position: relative;
  margin: 10px 5px;
  border: gainsboro 2px solid;
  padding: 20px;
  box-sizing: border-box;
}

.article:nth-child(2n + 1) {
  order: 0;
}

.article:nth-child(2n + 2) {
  order: 1;
}

.details:link {
  text-decoration: none;
  color: dodgerblue;
}

.details:hover {
  text-decoration: none;
  color: dodgerblue;
}

.details:visited {
  text-decoration: none;
  color: dodgerblue;
}

.aside-right {
  margin: 0 60px;
  width: 180px;
}
