body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: lightgray;
  font-weight: bold;
}

.nav-list {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-left {
  margin: 35px 20px 40px 40px;
  width: 200px;
}

.about {
  padding: 20px;
  background-color: gainsboro;
}

.archives {
  padding: 20px;
}
